<!DOCTYPE html>
<html lang="ja">
<head>
    <title>ログイン画面</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div style="
        background-image: url('/images/ログイン画面.png');
        text-align: center;
        width: 100vw;
        height: 100vh;
        ">
        <div style="
            background-color: rgba(255, 192, 203, 0.6);
            padding: 40px;
            border-radius: 10px;
        ">
            <form action="">

                <input type="text" id="ID" placeholder="ユーザーID">
                <div>
                    <input type="password" id="pass" placeholder="password" style="
                        position: absolute;
                        ">
                    <button type="button">👀</button>
                </div>
                <button >ログイン</button>

            </form>

        </div>
    </div>

</body>
</html>